<f:layout name="DefaultBackend" />

<f:section name="iconButtons">
	<f:be.buttons.icon uri="{f:uri.action(action:'indexBackend', controller:'GooglePlus')}" icon="closedok" title="Back" />
</f:section>

<f:section name="content">
    <f:if condition="{googleUsers}">
		<f:then>
			<p class="bodytext"><f:translate key="google_users_headline" /></p>
			<ul>
				<f:for each="{googleUsers}" as="user">
					<li>
						<h3>
                            <f:link.action action="show" controller="GoogleUser" arguments="{googleUser: user}" title="Show this Google plus user">
								{user.userName} (<f:count subject="{user.group}" />)
							</f:link.action>
						</h3>
					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<p><f:translate key="no_records_label" /></p>
		</f:else>
    </f:if>
    
    <f:be.tableList tableName="fe_users" fieldList="{0: 'name', 1: 'email'}" storagePid="29" levels="2" filter='' recordsPerPage="10" sortField="name" sortDescending="true" readOnly="false" enableClickMenu="true" clickTitleMode="info" alternateBackgroundColors="true" />
    
</f:section>