<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<link media="all" type="text/css" rel="stylesheet" href="typo3conf/ext/mn_google_plus/Resources/Public/Css/mn_googleplus.css" />

<f:flashMessages />

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">

    <f:for each="{googlePluses}" as="googlePlus">
        var apiKey = "{googlePlus.googlePlusApiKey}";
    </f:for>
    
    var googlePlusApiUrl = "{settings.googlePlusApiUrl}";
    var myGoogleUserId = "{loggedInUser.googlePlusId}";
    
    //116485933646135558609

    jQuery(document).ready(function() {
        
        if(myGoogleUserId != "") {
            //Get users profile information
            jQuery.ajax({
                url: googlePlusApiUrl + "people/" + myGoogleUserId + "?key=" + apiKey,
                type: "GET",
                dataType: "JSONP",
                crossDomain: true,
                success: function(data) {
                    jQuery('#mngoogleplus_userinfo').html(
                        "<a href='" + data.url + "'>" + data.displayName + "</a><br />" 
                        + data.gender +  "<br /><img src='" + data.image.url + "' alt='" + data.displayName + "'/>"
                    );
                },
                error: function(err) {
                    alert(err);
                }
            });
            
            //Get users recent public activities
            jQuery.ajax({
                url: googlePlusApiUrl + "people/" + myGoogleUserId + "/activities/public?key=" + apiKey,
                type: "GET",
                dataType: "JSONP",
                crossDomain: true,
                success: function(data) {
                    var items = "";
                    jQuery.each(data.items, function() {
                        items +=
                            "<div class='mngoogleplus_useractivity'><a href='" + this.url + "'>" 
                            + this.published + " - " + this.title + "</a></div><br />";
                    });
                    jQuery("#mngoogleplus_useractivities").html(items);
                },
                error: function(err) {
                    alert(err);
                }
            });
            
            //On button search click
            jQuery("#mngoogleplus_searchbutton").click(function() {
                var searchValue = jQuery("#mngoogleplus_usersearch").val();
                if(searchValue != "") {
                    populateSearchResult(searchValue, "");
                }   
                else {
                    alert("<f:translate key='search_not_empty' />")
                }
            });
            
            //On next pagination click for search results
            jQuery("#mngoogleplus_searchresults_next").click(function() {
                var searchValue = jQuery("#mngoogleplus_usersearch").val();
                if(searchValue != "") {
                    populateSearchResult(searchValue, jQuery(this).find(".mngoogleplus_nextpagetoken").val());
                }   
                else {
                    alert("<f:translate key='search_not_empty' />")
                }        
            });
            
            //On previous pagination click for search results
            jQuery("#mngoogleplus_searchresults_prev").click(function() {
                var searchValue = jQuery("#mngoogleplus_usersearch").val();
                if(searchValue != "") {
                    //populateSearchResult(searchValue, jQuery(this).find(".mngoogleplus_prevpagetoken").val());
                }   
                else {
                    alert("<f:translate key='search_not_empty' />")
                }        
            });
              
        }
        
        function populateSearchResult(searchValue, nextPageToken) {
            jQuery.ajax({
                url: googlePlusApiUrl + "people?query=" + searchValue + "&pageToken=" + nextPageToken + "&key=" + apiKey,
                type: "GET",
                dataType: "JSONP",
                crossDomain: true,
                success: function(data) {
                    //If results are found
                    if(data.items != "") {
                        var items = "";
                        jQuery.each(data.items, function() {
                            items +=
                                "<div class='mngoogleplus_searchresult'><img src='" + this.image.url + "' alt='" + this.displayName 
                                + "'/><a href='" + this.url + "'>" + this.displayName + "</a></div><br />";
                        });
                        jQuery("#mngoogleplus_searchresults").html(items);    
                        jQuery("#mngoogleplus_searchresults_next").html(
                            "<p><input class='mngoogleplus_nextpagetoken' type='hidden' value='" + data.nextPageToken 
                            + "' /><f:translate key='next_label' /></p>"
                        );
                        jQuery("#mngoogleplus_searchresults_prev").html(
                            "<p><input class='mngoogleplus_previouspagetoken' type='hidden' value='" + data.selfLink 
                            + "' /><f:translate key='previous_label' /></p>"
                        );
                    }
                    //If no results are found
                    else {
                        jQuery("#mngoogleplus_searchresults").html("<b><f:translate key='no_search_results' /></b>");
                    }
                    console.log(data);
                },
                error: function(err) {
                    alert(err);
                }
            });
        }
        
    });
    
</script>


    <p>https://www.googleapis.com/plus/v1/people?query=vic%20gundotra&key=AIzaSyDkuXJ7V_9WRLafmNsy3R-j9XKbRzSBqtU</p>
    
<div id="mngoogleplus_content">
    <div id="mngoogleplus_userinfo"></div>
    <br />
    <div id="mngoogleplus_useractivities"></div>
    <br />
    <f:translate key="search_for_people" />
    <br />
    <input type="text" id="mngoogleplus_usersearch" />
    <input type="button" id="mngoogleplus_searchbutton" value="<f:translate key='search_button_label' />" />
    <div id="mngoogleplus_searchresults"></div>
    <div id="mngoogleplus_searchresults_prev"></div>
    <div id="mngoogleplus_searchresults_next"></div>
</div>

</f:section>