<f:layout name="DefaultBackend" />

<f:section name="iconButtons">
	<f:be.buttons.icon uri="{f:uri.action(action:'indexBackend', controller:'GooglePlus')}" icon="closedok" title="Back" />
</f:section>

<f:section name="content">

<link rel="stylesheet" type="text/css"href="../typo3conf/ext/mn_google_plus/Resources/Public/Css/jquery.jOrgChart.css"/>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="../typo3conf/ext/mn_google_plus/Resources/Public/JavaScripts/jquery.jOrgChart.js"></script>

<script type="text/javascript">

<f:for each="{googlePluses}" as="googlePlus">
    var apiKey = "{googlePlus.googlePlusApiKey}";
</f:for>
    
    var googlePlusApiUrl = "{settings.googlePlusApiUrl}";
    var myGoogleUserId = "{googleUser.googlePlusId}";
    var items = "";

<![CDATA[
    $.noConflict();
    
    jQuery(document).ready(function() {
        
        if(myGoogleUserId != "") {
            //Get users recent public activities
            var ajax = jQuery.ajax({
                url: googlePlusApiUrl + "people/" + myGoogleUserId + "/activities/public?key=" + apiKey,
                type: "GET",
                dataType: "JSONP",
                id: "googlePlusAjax",
                crossDomain: true,
                success: function(data) {
                    console.log(data);
                    jQuery.each(data.items, function() {
                        var userData = this;
                        //items += "<li>" + this.actor.displayName;
                        
                        //Get users for each activity
                        jQuery.ajax({
                            url: this.object.replies.selfLink + "?key=" + apiKey,
                            type: "GET",
                            dataType: "JSONP",
                            crossDomain: true,
                            success: function(activityData) {
                                if(activityData.items.length > 0) {
                                    items += "<li>" + userData.actor.displayName + "<ul>";
                                    jQuery.each(activityData.items, function() {
                                        items += "<li>" + this.object.content + "</li>";           
                                    });
                                    items += "</ul></li>";
                                    console.log(activityData);    
                                }
                            },
                            error: function(err) {
                                alert(err);
                            },
                            complete: function() {
                                jQuery("#mn_google_plus_org").html(items);
                                jQuery("#mn_google_plus_org").jOrgChart({
         			    chartElement : '#mn_google_plus_chart'
                    });
                            }
                        });
                        //items += "</li>";  
                    });
                },
                error: function(err) {
                    alert(err);
                }, 
                complete: function(data) {
                    
                }
            });
            
            
            
        }
        
        /*jQuery("#mn_google_plus_org").jOrgChart({
         			    chartElement : '#mn_google_plus_chart'
                    });*/
        
    });
]]>    
</script>

<script type="text/javascript">

    Ext.onReady(function(){

        //alert("test");
    
    });

</script>

<ul id="mn_google_plus_org" style="display: none;">
</ul>

<div id="mn_google_plus_chart" class="orgChart"></div>

{googleUser.userName}

</f:section>